In [1]:
import kagglehub
import os 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

path = kagglehub.dataset_download("yasserh/titanic-dataset")
# Most downloads from kagglehub contain the file in the root of the returned path
file_path = os.path.join(path, "Titanic-Dataset.csv")

df = pd.read_csv(file_path)
df

C:\Users\lamia\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
csv_path = os.path.join(path, "Titanic-Dataset.csv")
df = pd.read_csv(csv_path)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
def show_plot(y_pred, Y):
    plt.scatter(np.arange(len(Y)), Y, label="true")
    plt.plot(y_pred, label="pred", color="red")
    plt.legend()
    plt.xlabel("sample index")
    plt.ylabel("Survived")
def predict(W, X):
    y_pred = np.dot(X, W)
    return y_pred

def J(y_pred, Y):
    loss = 1 / 2 * (y_pred - Y)**2
    return loss

def J_gradient(y_pred, Y, X):
    j_gradients = (y_pred - Y)*X # list of all gradients for each training sample
#     return j_gradients
    grad_mean = j_gradients.mean(axis=0)              # mean gradient over samples
    return grad_mean.reshape(-1, 1)

def W_update(W_old, j_grad, alpha=0.00000001):
    W_new = W_old - alpha * j_grad
    return W_new




# اختيار الأعمدة من Penguins
features = ['Sex','Age','Fare']
target = 'Survived'




# حذف الصفوف اللي فيها قيم ناقصة
df2 = df[features + [target]].dropna()

df2["Sex"] = df2["Sex"].map({"male": 0, "female": 1})
# تحويل لـ numpy
X = df2[features].to_numpy()
Y = df2[target].to_numpy().reshape(-1, 1)


#الخط يقرب من النقاط
Y_mean = Y.mean()
Y_std = Y.std()
Y_scaled = (Y - Y_mean) / Y_std
Y = Y_scaled

print(X.shape, Y.shape)


use_bias = True

if use_bias:
    X = np.hstack((X, np.ones((X.shape[0], 1))))
print(X.shape)

W = 2 * np.random.uniform(size=(X.shape[1], 1)) - 1

alpha = 1e-8
epochs = 2000

for i in range(epochs):
    y_pred = predict(W, X)  #نتوقع
    loss = J(y_pred, Y).mean()   #نحسب الخسارة
    j_grad = J_gradient(y_pred, Y, X)      #نحسب المشتقة(الاتجاه)
    W = W_update(W, j_grad, alpha)   
     #نحدث الوزن
print("W:", W.ravel(), "loss:", loss)

(714, 3) (714, 1)
(714, 4)
W: [-0.70788786  0.31919741 -0.48042669  0.23589569] loss: 357.84345822666614